@model PointJalkahoitolaMVC.Database1.Palvelut

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Palvelut</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Palvelu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Palvelu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Palvelun_kesto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Palvelun_kesto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PalveluID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
