@model PointAjanvarausMVC.Models.Toimipisteet

@{
    ViewBag.Title = "Details";
}

<h2>Toimipiste tiedot</h2>

<div>
    <h4>Toimipiste</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Toimipisteen_Nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Toimipisteen_Nimi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Osoite1.Katuosoite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Osoite1.Katuosoite)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Hoitopaikka_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hoitopaikka_ID)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Huomiot.Muut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Huomiot.Muut)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Puhelin.Puhelinnumero_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Puhelin.Puhelinnumero_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Osoite1.Katuosoite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Osoite1.Katuosoite)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Muokkaa", "Edit", new { id = Model.Toimipiste_ID }) |
    @Html.ActionLink("Takaisin toimipistehallintaan", "Index")
</p>
