@model PointAjanvarausMVC.Models.Huomiot

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Huomiot</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sairaudet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sairaudet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Muut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Muut)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Huomio_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
