@model PointAjanvarausMVC.Models.Tilaukset

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tilaukset</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Toimittaja_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Toimittaja_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Henkilokunta_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Henkilokunta_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tilausmäärä)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tilausmäärä)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tilauspäivä)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tilauspäivä)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Toimitus_pvm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Toimitus_pvm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Saapumispvm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Saapumispvm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShipName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShipAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shipper_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shipper_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tuotteet.Tuotenimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tuotteet.Tuotenimi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Tilaus_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
