@model PointAjanvarausMVC.Models.Rekisterointi

@{
    ViewBag.Title = "Details";
}

<h2>Tiedot</h2>

<div>
    <h4>Vuosikurssin rekisteröinti</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vuosikurssi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vuosikurssi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vuosikurssi_aloitus_pvm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vuosikurssi_aloitus_pvm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vuosikurssi_lopetus_pvm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vuosikurssi_lopetus_pvm)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Kurssi_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kurssi_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hoitaja_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hoitaja_ID)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Muokkaa", "Edit", new { id = Model.Rekisterointi_ID }) |
    @Html.ActionLink("Takaisin kurssirekisteröintiin", "Index")
</p>
