@model PointAjanvarausMVC.Models.Kurssit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kurssit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kurssinimike)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kurssinimike)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opintopisteet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opintopisteet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rekisterointi1.Kurssi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rekisterointi1.Kurssi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Kurssi_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
