@model PointAjanvarausMVC.Models.Hoitajat

@{
    ViewBag.Title = "Details";
}

<h2>Tiedot</h2>

<div>
    <h4>Hoitajat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tunnus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tunnus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Etunimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etunimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Toinen_nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Toinen_nimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sukunimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sukunimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Katuosoite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Katuosoite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postinumero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postinumero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postitoimipaikka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postitoimipaikka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Henkilotunnus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Henkilotunnus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aloituspvm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aloituspvm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valmistumispvm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valmistumispvm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Keskeytyspvm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Keskeytyspvm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tiedot_arkistoitu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tiedot_arkistoitu)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Kurssi_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kurssi_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Osoite.Katuosoite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Osoite.Katuosoite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Puhelin.Puhelinnumero_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Puhelin.Puhelinnumero_1)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Huomiot.Muut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Huomiot.Muut)
        </dd>

    </dl>

    <p>
        @Html.ActionLink("Muokkaa", "Edit", new { id = Model.Hoitaja_ID }) |
        @Html.ActionLink("Takaisin hoitajahallintaan", "Index")
    </p>

    @*30.5.2016 Lisätty Event alitiedostot:*@

    <h4>Hoitajan asiakkaat</h4>

    <table class="table">
        <tr>
            <th>
                Päivämäärä
            </th>
            <th>
                Varausaika alku
            </th>
            <th>
                Varausaika loppu
            </th>
            <th>
                Palvelun nimi
            </th>
            <th>
                Palvelun kesto
            </th>
            <th>
                Asiakas etunimi
            </th>
            <th>
                Asiakas sukunimi
            </th>
            <th>
                Asiakastunnus
            </th>
            <th>
                Huomiot
            </th>
        </tr>
        @foreach (var item in Model.Varaus)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.pvm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Alku)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Loppu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Palvelut.Palvelun_nimi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Palvelut.Palvelun_kesto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Asiakkaat1.Etunimi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Asiakkaat1.Sukunimi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Asiakkaat1.Asiakastunnus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Asiakkaat1.Huomiot)
                </td>

            </tr>
        }
    </table>@*<--30.5.2016 Lisätty alitiedostot*@


    @*30.5.2016 Lisätty Kurssit alitiedostot:*@
    <h4>Hoitajan kurssit</h4>

    <table class="table">
        <tr>
         
            <th>
                Kurssinimike
            </th>
            <th>
                Opintopisteet
            </th>
            <th>
                Kurssin aloitus pvm
            </th>
            <th>
               Kurssin lopetus pvm
            </th>
            <th>
                Vuosikurssi
            </th>

        </tr>
        @foreach (var item in Model.Kurssi)
            {
            <tr>
             
                <td>
                    @Html.DisplayFor(modelItem => item.Kurssinimike)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opintopisteet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kurssin_aloitus_pvm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kurssin_lopetus_pvm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rekisterointi1.Vuosikurssi)
                </td>

            </tr>
        }
    </table>@*<--30.5.2016 Lisätty kurssi alitiedostot*@

</div>

