@model IEnumerable<PointAjanvarausMVC.Models.Hoitajat>

@{
    ViewBag.Title = "OrderByFirstName";
}

<h2>OrderByFirstName</h2>

<p>
    @Html.ActionLink("Luo uusi hoitajatieto", "Create")
    @Html.ActionLink("Näytä kaikki", "Index")
    @Html.ActionLink("Järjestys etunimen mukaan", "OrderByFirstName")
    @Html.ActionLink("Järjestys sukunimen mukaan", "OrderByLastName")
</p>

<table class="table">
    <tr>
    <th>
        @Html.DisplayNameFor(model => model.Tunnus)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Etunimi)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Toinen_nimi)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Sukunimi)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Katuosoite)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Postinumero)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Postitoimipaikka)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Henkilotunnus)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Puhelin.Puhelinnumero_1)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Sahkoposti)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Aloituspvm)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Valmistumispvm)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Keskeytyspvm)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Tiedot_arkistoitu)
    </th>
    @*<th>
            @Html.DisplayNameFor(model => model.Kurssi_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Osoite.Katuosoite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Puhelin.Puhelinnumero_1)
        </th>*@
    <th>
        @Html.DisplayNameFor(model => model.Huomiot.Muut)
    </th>
    <th></th>
</tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tunnus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Etunimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Toinen_nimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sukunimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Katuosoite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Postinumero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Postitoimipaikka)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Henkilotunnus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Puhelin.Puhelinnumero_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sahkoposti)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aloituspvm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valmistumispvm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Keskeytyspvm)
        </td>
        <td>
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox" aria-label="...">
                        </span>

                        <input type="text" class="form-control" aria-label="...">
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
            <!--<a href="#"><span tiedot_id="@Html.DisplayFor(modelItem => item.Tiedot_arkistoitu)" class="glyphicon glyphicon-check"></span></a>-->
            @Html.DisplayFor(modelItem => item.Tiedot_arkistoitu)
            @Html.CheckBox("Arkistoi", new { id = item.Hoitaja_ID })
            @Html.ActionLink("Arkistoi", "Edit", new { id = item.Hoitaja_ID })


        </td>
        @*<td>
                @Html.DisplayFor(modelItem => item.Kurssi_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Osoite.Katuosoite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puhelin.Puhelinnumero_1)
            </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Huomiot.Muut)
        </td>
        <td>
            @Html.ActionLink("Muokkaa", "Edit", new { id = item.Hoitaja_ID }) |
            @Html.ActionLink("Tiedot", "Details", new { id = item.Hoitaja_ID }) |
            @Html.ActionLink("Poista", "Delete", new { id = item.Hoitaja_ID })
        </td>
    </tr>
}

</table>
