@{
    ViewBag.Title = "Home Page";
}
@section scripts{

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script>
        $(function () {
            alert("Sivun alustus.");
            if (Modernizr.canvas) {
                alert("Selain tukee Canvas-toimintoja!");
            }
            else {
                alert("Selain ei tue Canvas-toimintoja!")
            }
        });
    </script>
}
<div class="jumbotron">
    <h1>PointCollege Jalkahoitola ajanvaraustietokanta & Web-sivusto</h1>
    <p class="lead">Tämä on datanomi opintojen harjoitustehtävä, jossa kehitetään PointCollegen jalkahoitolalle uusi ajanvaraus systeemi. Projektissa käytetään kehittimenä Visual Studiota, jossa on luotu ASP.NET pohjainen MVC malli. Projektissa käytetään seuraavia ... Tietokannan käsittelytekniikkana käytetään Entity Frameworkia (EF). Sivujen luomisessa käytetään seuraavia HTML5-tekniikoita: CSS, CSS3 ja JavaScript. Projektiin kuuluu asiakastietokannan kehittämisen lisäksi web-sivuston kehitystyö.</p>
    <p><a href="/Hoitaja" class="btn btn-primary btn-lg">Hoitajatiedot &raquo;</a></p>

    <div class="form-actions no-color">
        <input type="submit" value="Aloitussivu" class="btn btn-default" /> |
        @Html.ActionLink("Aloitussivu", "Index", "Index")<br />
        </div>

        @Html.ActionLink("Asiakkaat", "Index", "Asiakas")<br />
        @Html.ActionLink("Hoitajat", "Index", "Hoitaja")<br />
        @Html.ActionLink("Palvelut", "Index", "Palvelu")<br />
        @Html.ActionLink("Postitoimipaikat", "Index", "Postitoimipaikat")<br />
        @Html.ActionLink("Puhelimet", "Index", "Puhelimet")<br />
        @Html.ActionLink("Toimipisteet", "Index", "Toimipiste")<br />
        @Html.ActionLink("Varauskalenteri", "Index", "Varaukset")<br /><br /><br />

    </div>
<div>
   
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <h2>#</h2>
        <p>
        
        </p>
        <p><a class="btn btn-default" href="#"># &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>#</h2>
        <p>#</p>
        <p><a class="btn btn-default" href="#"># &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>#</h2>
        <p>#</p>
        <p><a class="btn btn-default" href="#"># &raquo;</a></p>
    </div>
</div>