@model PointAjanvarausMVC.Models.Varaus

@{
    ViewBag.Title = "Details";
}

<h2>Varaustiedot</h2>

<div>
    <h4>Varaus</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.pvm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pvm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alku)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alku)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Loppu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loppu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asiakkaat1.Asiakastunnus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asiakkaat1.Asiakastunnus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asiakkaat1.Asiakas_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asiakkaat1.Asiakas_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asiakkaat1.Etunimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asiakkaat1.Etunimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asiakkaat1.Sukunimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asiakkaat1.Sukunimi)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Palvelun_nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Palvelun_nimi)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Info)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Info)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Hoitajat.Tunnus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hoitajat.Tunnus)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Hoitajat.Etunimi)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.Hoitajat.Etunimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hoitajat.Sukunimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hoitajat.Sukunimi)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Hoitopaikat.Hoitopaikan_Nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hoitopaikat.Hoitopaikan_Nimi)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Toimipisteet1.Toimipisteen_Nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Toimipisteet1.Toimipisteen_Nimi)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.Hoitopaikat.Hoitopaikan_Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hoitopaikat.Hoitopaikan_Numero)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Palvelut.Palvelun_nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Palvelut.Palvelun_nimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>

    <p>
        @Html.ActionLink("Muokkaa", "Edit", new { id = Model.Varaus_ID }) |
        @Html.ActionLink("Takaisin varaustenhallintaan", "Index")
    </p>

    <h4>Asiakkaan hoitotiedot</h4>
    @*Lisätty alitiedostot Palvelut 9.6.2016:*@

    <table class="table">
        <tr>
            <th>
                Päivämäärä
            </th>
            <th>
                Varausaika alkaa
            </th>
            <th>
                Varausaika loppuu
            </th>
            <th>
                Palvelun nimi
            </th>
            <th>
                Palvelun kesto
            </th>
            <th>
                Hoitajan nimi
            </th>
            <th>
                Huomiot
            </th>
        </tr>
        @foreach (var item in Model.Asiakkaat)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Varaus.pvm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Varaus.Alku)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Varaus.Loppu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Palvelut.Palvelun_nimi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Palvelut.Palvelun_kesto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hoitajat.Tunnus)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Huomiot)
                </td>

            </tr>
        }
    </table>@*<--25.5.2016 Lisätty alitiedostot, päivitetty 9.6.2016*@
</div>

