@model PointAjanvarausMVC.Models.Varaus

@{
    ViewBag.Title = "Details";
}

<h2>Varaustiedot</h2>

<div>
    <h4>Varaus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Alku)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alku)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Loppu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loppu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Palvelun_nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Palvelun_nimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sisalto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sisalto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pvm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pvm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asiakkaat.Etunimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asiakkaat.Etunimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hoitajat.Tunnus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hoitajat.Tunnus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hoitopaikat.Hoitopaikan_Nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hoitopaikat.Hoitopaikan_Nimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Palvelut.Palvelun_nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Palvelut.Palvelun_nimi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Muokkaa", "Edit", new { id = Model.Varaus_ID }) |
    @Html.ActionLink("Takaisin varaustenhallintaan", "Index")
</p>
