@model IEnumerable<PointAjanvarausMVC.Models.Varaus>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Luo uusi varaus", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Alku)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Loppu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Palvelun_nimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Asiakkaat.Etunimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hoitajat.Tunnus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hoitopaikat.Hoitopaikan_Nimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Palvelut.Palvelun_nimi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Alku)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Loppu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Palvelun_nimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Asiakkaat.Etunimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hoitajat.Tunnus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hoitopaikat.Hoitopaikan_Nimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Palvelut.Palvelun_nimi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Varaus_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Varaus_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Varaus_ID })
        </td>
    </tr>
}

</table>
