@model IEnumerable<PointJalkahoitolaMVC.Database1.Hoitajat>

@{
    ViewBag.Title = "Index";
}

<h2>Hoitajatiedot</h2>

<p>
    @Html.ActionLink("Tallenna uusi hoitajatieto", "Create")
</p>
@using (Html.BeginForm("Index", "Student", FormMethod.Get))
{
    <p>
        Etsi nimen mukaan: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Etsi" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Etunimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sukunimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Osoite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Henkilötunnus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Puhelin_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kurssi_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aloitus_pvm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valmistumis_pvm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Keskeytys_pvm)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Etunimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sukunimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Osoite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Henkilötunnus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Puhelin_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kurssi_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aloitus_pvm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valmistumis_pvm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Keskeytys_pvm)
        </td>
        <td>
            @Html.ActionLink("Muokkaa", "Edit", new { id=item.HoitajaID }) |
            @Html.ActionLink("Tiedot", "Details", new { id=item.HoitajaID }) |
            @Html.ActionLink("Poista", "Delete", new { id=item.HoitajaID })
        </td>
    </tr>
}

</table>
