@model IEnumerable<PointJalkahoitolaMVC.Database1.Hoitajat>

@{
    ViewBag.Title = "Index";
}

<h2>Hoitajahallinta</h2>

<p>
    @Html.ActionLink("Luo uusi hoitaja", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Etunimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sukunimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Osoite)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Etunimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sukunimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Osoite)
        </td>
        <td>
            @Html.ActionLink("Muokkaa", "Edit", new { id=item.HoitajaID }) |
            @Html.ActionLink("Tiedot", "Details", new { id=item.HoitajaID }) |
            @Html.ActionLink("Poista", "Delete", new { id=item.HoitajaID })
        </td>
    </tr>
}

</table>
