@model PointAjanvarausMVC.Models.Osoite

@{
    ViewBag.Title = "Details";
}

<h2>Osoite tiedot</h2>

<div>
    <h4>Osoite</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Katuosoite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Katuosoite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postinumero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postinumero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postitoimipaikka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postitoimipaikka)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Asiakkaat1.Etunimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asiakkaat1.Etunimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Henkilokunta1.Etunimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Henkilokunta1.Etunimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hoitajat1.Tunnus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hoitajat1.Tunnus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Toimipisteet.Toimipisteen_Nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Toimipisteet.Toimipisteen_Nimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shippers.Yritysnimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shippers.Yritysnimi)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Muokkaa", "Edit", new { id = Model.Osoite_ID }) |
    @Html.ActionLink("Takaisin osoitehallintaan", "Index")
</p>
