@model IEnumerable<PointAjanvarausMVC.Models.Osoite>

@{
    ViewBag.Title = "Index";
}

<h2>Osoitehallinta</h2>

<p>
    @Html.ActionLink("Luo uusi osoite", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Katuosoite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Postinumero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Postitoimipaikka)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Asiakkaat1.Etunimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Henkilokunta1.Etunimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hoitajat1.Tunnus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Toimipisteet.Toimipisteen_Nimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shippers.Yritysnimi)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Katuosoite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Postinumero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Postitoimipaikka)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Asiakkaat1.Etunimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Henkilokunta1.Etunimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hoitajat1.Tunnus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Toimipisteet.Toimipisteen_Nimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shippers.Yritysnimi)
        </td>*@
        <td>
            @Html.ActionLink("Muokkaa", "Edit", new { id=item.Osoite_ID }) |
            @Html.ActionLink("Tiedot", "Details", new { id=item.Osoite_ID }) |
            @Html.ActionLink("Poista", "Delete", new { id=item.Osoite_ID })
        </td>
    </tr>
}

</table>
