@model PointAjanvarausMVC.Models.Asiakkaat

@{
    ViewBag.Title = "Delete";
}

<h2>Poista asiakastiedot</h2>

<h3>Haluatko varmasti poistaa asiakastiedot? Tietojen poistaminen edellyttää Admin tason kirjautumista.</h3>
<div>
    <h4>Asiakkaat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Etunimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etunimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sukunimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sukunimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asiakastunnus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asiakastunnus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Katuosoite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Katuosoite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postinumero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postinumero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postitoimipaikka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postitoimipaikka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Henkilotunnus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Henkilotunnus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Puhelinnumero_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Puhelinnumero_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sahkoposti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sahkoposti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Huomiot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Huomiot)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Osoite.Katuosoite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Osoite.Katuosoite)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.Puhelin.Puhelinnumero_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Puhelin.Puhelinnumero_1)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Huomiot1.Muut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Huomiot1.Muut)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Hoitajat.Tunnus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hoitajat.Tunnus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Varaus.Palvelun_nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Varaus.Palvelun_nimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Palvelut.Palvelun_nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Palvelut.Palvelun_nimi)
        </dd>*@

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Poista" class="btn btn-default" data-toggle="modal" data-target="#myModal" /> |

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Tietojen poistamisen varmistus</h4>
                        </div>
                        <div class="modal-body">
                            <p>Haluatko varmasti poistaa tiedot?&hellip;</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Sulje</button>
                            <button type="button" class="btn btn-primary">Tallenna muutokset</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            @Html.ActionLink("Takaisin asiakashallintaan", "Index")
        </div>
    }
</div>
