@model PointAjanvarausMVC.Models.Palvelut

@{
    ViewBag.Title = "Delete";
}

<h2>Poista palvelutiedot</h2>

<h3>Haluatko varmasti poistaa tiedot? Palvelun poistaminen edellyttää admin tason kirjautumista.</h3>
<div>
    <h4>Palvelut</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Palvelun_nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Palvelun_nimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Palvelun_kesto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Palvelun_kesto)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Varaus_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Varaus_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asiakkaat.Etunimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asiakkaat.Etunimi)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Toimipisteet.Toimipisteen_Nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Toimipisteet.Toimipisteen_Nimi)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Hoitajat.Tunnus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hoitajat.Tunnus)
        </dd>*@

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Poista" class="btn btn-default" /> |
            @Html.ActionLink("Takaisin palveluhallintaan", "Index")
        </div>
    }
</div>
