@model PointAjanvarausMVC.Models.Palvelut

@{
    ViewBag.Title = "Details";
}

<h2>Palvelu tiedot</h2>

<div>
    <h4>Palvelut</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Palvelun_nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Palvelun_nimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Palvelun_kesto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Palvelun_kesto)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Varaus_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Varaus_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asiakkaat.Etunimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asiakkaat.Etunimi)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Toimipisteet.Toimipisteen_Nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Toimipisteet.Toimipisteen_Nimi)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Hoitajat.Tunnus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hoitajat.Tunnus)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Muokkaa", "Edit", new { id = Model.Palvelu_ID }) |
    @Html.ActionLink("Takaisin paveluhallintaan", "Index")
</p>
