@model PointAjanvarausMVC.Models.Shippers

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Shippers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Yritysnimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yritysnimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Puhelinnumero_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Puhelinnumero_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Huomiot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Huomiot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Huomiot1.Muut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Huomiot1.Muut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Osoite.Katuosoite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Osoite.Katuosoite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Puhelin.Puhelinnumero_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Puhelin.Puhelinnumero_1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Shipper_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
