@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/daypilot-all.min.js"></script>

@section scripts{

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script>
        $(function () {
            alert("Sivun alustus.");
            if (Modernizr.canvas) {
                alert("Selain tukee Canvas-toimintoja!");
            }
            else {

                alert("Selain ei tue Canvas-toimintoja!")
            }
        });
    </script>

    }

<h1>Käyttämäsi selain</h1>
<p>@ViewBag.Selain</p>

@*Brand image:*@
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header" >
            <a class="navbar-brand" href="#" title="Point College  Aikuiskoulutus" rel="home" width="105" height="32" >
                <img alt="Point College Aikuiskoulutus logo" src="~/Images/LogoPointCollege.png" />
            </a>
        </div>
    </div>
</nav>


<div class="jumbotron">


    <h1>PointCollege Jalkahoitola ajanvaraustietokanta & Web-sivusto</h1>
    <p class="lead">Tämä on datanomi opintojen harjoitustehtävä, jossa kehitetään PointCollegen jalkahoitolalle uusi ajanvaraus systeemi. Projektissa käytetään kehittimenä Visual Studiota, jossa käytetään ASP.NET MVC 5 web applikaatiota Entity Framework 6 ympäristössä. Projektissa käytetään seuraavia ... Tietokannan käsittelytekniikkana käytetään Entity Frameworkia (EF). Sivujen luomisessa käytetään seuraavia HTML5-tekniikoita: CSS, CSS3 ja JavaScript. Projektiin kuuluu asiakastietokannan kehittämisen lisäksi web-sivuston kehitystyö.</p>
    
    
        <div class="col-md-offset-2 col-md-10">  
                <div class="form-actions no-color">
                    <div class="btn-group btn-group-vertical btn-lg">
                        <a href="/Index" class="btn btn-default">Aloitussivu&raquo;</a>
                        <a href="/Asiakas" class="btn btn-default">Asiakashallinta&raquo;</a>
                        <a href="/Hoitaja" class="btn btn-default">Hoitajahallinta&raquo;</a>
                        <a href="/Hoitopaikka" class="btn btn-default">Hoitopaikkahallinta&raquo;</a>
                        <a href="/Huomio" class="btn btn-default">Huomiot&raquo;</a>
                        <a href="/Kurssi" class="btn btn-default">Kurssihallinta&raquo;</a>
                        <a href="/Osoitteet" class="btn btn-default">Osoitehallinta&raquo;</a>
                        <a href="/Palvelu" class="btn btn-default">Palveluhallintaa&raquo;</a>
                        <a href="/Postitoimipaikka" class="btn btn-default">Postitoimipaikat&raquo;</a>
                        <a href="/Puhelimet" class="btn btn-default">Puhelinhallinta&raquo;</a>
                        <a href="/Toimipiste" class="btn btn-default">Toimipistehallinta&raquo;</a>
                        <a href="/Events" class="btn btn-default">Asiakasvaraushallinta&raquo;</a>
                        <a href="/Rekisteroinnit" class="btn btn-default">Kurssirekisteröinti&raquo;</a>
                        <a href="/HoitajaPalvelu" class="btn btn-default">Hoitajapalvelut&raquo;</a>
                        <a href="/Henkilokuntas" class="btn btn-default">Henkilokuntahallinta&raquo;</a>
                        <a href="/Shipper" class="btn btn-default">Rahdintoimittajahallinta&raquo;</a>
                        <a href="/Tilaus" class="btn btn-default">Tilaustenhallinta&raquo;</a>
                        <a href="/Tuote" class="btn btn-default">Tuotehallinta&raquo;</a>
                        <a href="/Varaukset" class="btn btn-default">Varaustenhallinta&raquo;</a>
                    </div>
            </div>
    </div>



    @Html.ActionLink("Aloitussivu", "Index", "Index")<br />
    @Html.ActionLink("Asiakashallinta", "Index", "Asiakas")<br />
    @Html.ActionLink("Hoitajahallinta", "Index", "Hoitaja")<br />
    @Html.ActionLink("Hoitopaikkahallinta", "Index", "Hoitopaikka")<br />
    @Html.ActionLink("Huomiot", "Index", "Huomio")<br />
    @Html.ActionLink("Kurssihallinta", "Index", "Kurssi")<br />
    @Html.ActionLink("Osoitehallinta", "Index", "Osoitteet")<br />
    @Html.ActionLink("Palveluhallinta", "Index", "Palvelu")<br />
    @Html.ActionLink("Postitoimipaikat", "Index", "Postitoimipaikka")<br />
    @Html.ActionLink("Puhelinhallinta", "Index", "Puhelimet")<br />
    @Html.ActionLink("Toimipistehallinta", "Index", "Toimipiste")<br />
    @Html.ActionLink("Asiakasvaraushallinta", "Index", "Events")<br />
    @Html.ActionLink("Kurssirekisteröinti", "Index", "Rekisteroinnit")<br />
    @Html.ActionLink("Hoitajapalvelut", "Index", "HoitajaPalvelu")<br /><br />
    @Html.ActionLink("Henkilökuntahallinta", "Index", "Henkilokuntas")<br />
    @Html.ActionLink("Rahdintoimittajahallinta", "Index", "Shipper")<br />
    @Html.ActionLink("Tilautenhallinta", "Index", "Tilaus")<br />
    @Html.ActionLink("Tuotehallinta", "Index", "Tuote")<br />
    @Html.ActionLink("Varaustenhallinta", "Index", "Varaukset")<br /><br /><br />

    <p><a href="~/Views/Hoitaja/Create.cshtml" class="btn btn-default btn-lg">Hoitajahallinta &raquo;</a></p>
    <p><a href="/Hoitajat" class="btn btn-primary btn-lg">Hoitajahallinta &raquo;</a></p>
    <p><a href="/Asiakas" class="btn btn-primary btn-lg">Asiakashallinta &raquo;</a></p>

    <div class="btn-group-vertical">
        <div class="form-actions no-color">
            <input type="submit" value="Aloitussivu" class="btn btn-default" /> |
        </div>
    </div>
</div>
<br />

<!-- Single button -->
<div class="btn-group-vertical">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Action <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Separated link</a></li>
    </ul>
</div>
<br />
<br />
<br />
<br />
<br />

<div style="float:left; width: 150px;">
    <div id="nav"></div>
</div>
<div style="margin-left: 150px;">
    <div id="dp"></div>
</div>
<br />
<br />
<br />
<br />
<br />

<script type="text/javascript">
    var nav = new DayPilot.Navigator("nav");
    //editoitu
    nav.locale = "fi-fi";

    nav.showMonths = 1;
    nav.selectMode = "week";
    nav.onTimeRangeSelected = function (args) {
        dp.startDate = args.start;

        dp.update();

        //JSON kysely
        LoadEvents(dp.visibleStart(), dp.visibleEnd());
    };
    nav.init();


    var dp = new DayPilot.Calendar("dp");
    //editoitu
    dp.locale = "fi-fi";

    dp.viewType = "Week";
    dp.init();

    //event creating
    var e = new DayPilot.Event({
        start: new DayPilot.Date("2016-05-12T12:00:00"),
        end: new DayPilot.Date("2016-05-12T13:00:00"),
        id: DayPilot.guid(),
        text: "EKA"
    });

    dp.events.add(e);

    var e = new DayPilot.Event({
        start: new DayPilot.Date("2016-05-13T12:00:00"),
        end: new DayPilot.Date("2016-05-13T16:00:00"),
        id: DayPilot.guid(),
        text: "TOKA"
    });

    // event creating
    dp.onTimeRangeSelected = function (args) {
        var name = prompt("New event name:", "Event");
        dp.clearSelection();
        if (!name) return;
        var e = new DayPilot.Event({
            start: args.start,
            end: args.end,
            id: DayPilot.guid(),
            resource: args.resource,
            text: name
        });
        dp.events.add(e);
        alert("Created");
    };

    //OHJE MVC:lle
    //http://code.daypilot.org/17910/html5-event-calendar-open-source

    //dp.onEventClicked = function (args) {
    //    alert("Event clicked: " + args.e.text());
    //};

    dp.onEventClicked = function (args) {
        //formatted = $.datepicker.formatDate("M d, yy", new Date("2014-07-08T09:02:21.377"));
        var startDate = new Date(args.e.start());
        var endDate = new Date(args.e.end());

        var hour = "" + startDate.getHours(); if (hour.length == 1) { hour = "0" + hour; }
        var minute = "" + startDate.getMinutes(); if (minute.length == 1) { minute = "0" + minute; }
        //var sD = (startDate.getMonth() + 1) + '.' + startDate.getDate() + '.' + startDate.getFullYear() + " " + hour + ":" + minute;
        var sD = startDate.getDate() + '.' + (startDate.getMonth() + 1) + '.' + startDate.getFullYear() + " " + hour + ":" + minute;

        var hour = "" + endDate.getHours(); if (hour.length == 1) { hour = "0" + hour; }
        var minute = "" + endDate.getMinutes(); if (minute.length == 1) { minute = "0" + minute; }
        //var eD = (endDate.getMonth() + 1) + '.' + endDate.getDate() + '.' + endDate.getFullYear() + " " + hour + ":" + minute;
        var eD = endDate.getDate() + '.' + (endDate.getMonth() + 1) + '.' + endDate.getFullYear() + " " + hour + ":" + minute;

        //alert("Event clicked: Alku: " + sD + " Loppu: " + eD);

        //alert( dp.visibleStart().toString() + " - " + dp.visibleEnd().toString() );
    };

    // event resizing
    dp.onEventResized = function (args) {
        //alert("Resized: " + args.e.text());
        UpdateEvent(args);
    };

    // event moving
    //Resize(int id, string newStart, string newEnd)
    dp.onEventMoved = function (args) {
        UpdateEvent(args);
    };

    function LoadEvents(alku, loppu) {
        url = "/Home/GetVaraukset/?alku=" + ConvertDate2(alku) + "&loppu=" + ConvertDate2(loppu);

        //alert("AJAX url: " + url);

        $.ajax(url).done(function (data) {
            i = 0;

            //alert("JSON objects: " + data);

            for (var i = 0; i < data.length; i++) {
                data[i].start = ConvertDate(data[i].start);
                data[i].end = ConvertDate(data[i].end)

                //alert("1. START: " + data[i].start + " END: " + data[i].end);
            }

            CreateEvents(data);
        });
    }

    //event creating
    function CreateEvents(data) {
        dp.events.list = data
        dp.update();
    }

    //convert json date "\/Date(1464001200000)\/" to "2010-01-01T00:00:00"
    function ConvertDate(date) {
        var dateString = date.substr(6);
        var currentTime = new Date(parseInt(dateString));
        var month = currentTime.getMonth() + 1;
        if (month < 10) { month = "0" + month };
        var day = currentTime.getDate();
        if (day < 10) { day = "0" + day };
        var year = currentTime.getFullYear();
        if (year < 10) { year = "0" + year };
        var hours = currentTime.getHours();
        if (hours < 10) { hours = "0" + hours };
        var minutes = currentTime.getMinutes();
        if (minutes < 10) { minutes = "0" + minutes };
        var seconds = currentTime.getSeconds();
        if (seconds < 10) { seconds = "0" + seconds };
        var date = year + "-" + month + "-" + day + "T" + hours + ":" + minutes + ":" + seconds;
        return date;
    }

    //convert date "2010-01-01T00:00:00" to "2010-01-01"
    function ConvertDate2(date) {
        var month = date.getMonth() + 1;
        if (month < 10) { month = "0" + month };
        var day = date.getDay();
        if (day < 10) { day = "0" + day };
        var year = date.getYear();
        if (year < 10) { year = "0" + year };
        var date = year + "-" + month + "-" + day;
        return date;
    }

    function ConfirmMove(ID) {
        alert("Vahvista siirto: " + ID);
    }

    function UpdateEvent(args) {
        url = "/Varaus/Resize/?id=" + args.e.data.ID + "&newStart=" + args.e.start() + "&newEnd=" + args.e.end();

        //alert(url);

        $.ajax(url).done(function (data) {
            //alert(data);
        });
    }

</script>

<div class="Opetusvideo">
    <!-- 16:9 aspect ratio -->
    <div class="embed-responsive embed-responsive-16by9">
        <h1>Opetusvideo (demoesimerkki)</h1>
        <iframe class="embed-responsive-item" width="213" height="120" src="https://www.youtube.com/embed/FOk0fR3-mbM" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

<nav>
    <ul class="pager">
        <li><a href="#">Edellinen</a></li>
        <li><a href="/Asiakas">Seuraava</a></li>
    </ul>
</nav>




<div class="row">
    <div class="col-md-4">
        <h2>#</h2>
        <p>#</p>
        <p><a class="btn btn-default" href="#"># &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>#</h2>
        <p>#</p>
        <p><a class="btn btn-default" href="#"># &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>#</h2>
        <p>#</p>
        <p><a class="btn btn-default" href="#"># &raquo;</a></p>
    </div>
</div>

