@model PointAjanvarausMVC.Models.Puhelin

@{
    ViewBag.Title = "Delete";
}

<h2>Poista puhelintiedot</h2>

<h3>Haluatko varmasti poistaa puhelintiedot? Poistaminen edellyttää Admin tason kirjautumista.</h3>
<div>
    <h4>Puhelin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Puhelinnumero_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Puhelinnumero_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Puhelinnumero_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Puhelinnumero_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Puhelinnumero_3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Puhelinnumero_3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asiakkaat1.Asiakastunnus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asiakkaat1.Asiakastunnus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Henkilokunta1.Hlokuntatunnus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Henkilokunta1.Hlokuntatunnus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hoitajat1.Tunnus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hoitajat1.Tunnus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shippers.Yritysnimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shippers.Yritysnimi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Poista" class="btn btn-default" /> |
            @Html.ActionLink("Takaisin puhelinhallintaan", "Index")
        </div>
    }
</div>
