@model PointAjanvarausMVC.Models.Puhelin

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Puhelin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Puhelinnumero_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Puhelinnumero_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Puhelinnumero_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Puhelinnumero_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Puhelinnumero_3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Puhelinnumero_3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asiakkaat1.Asiakastunnus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asiakkaat1.Asiakastunnus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Henkilokunta1.Hlokuntatunnus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Henkilokunta1.Hlokuntatunnus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hoitajat1.Tunnus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hoitajat1.Tunnus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shippers.Yritysnimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shippers.Yritysnimi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Puhelin_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
