@model IEnumerable<PointAjanvarausMVC.Models.Puhelin>

@{
    ViewBag.Title = "Index";
}

<h2>Puhelihallinta</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Puhelinnumero_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Puhelinnumero_2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Puhelinnumero_3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Asiakkaat1.Etunimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Henkilokunta1.Etunimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hoitajat1.Tunnus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shippers.Yritysnimi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Puhelinnumero_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Puhelinnumero_2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Puhelinnumero_3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Asiakkaat1.Etunimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Henkilokunta1.Etunimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hoitajat1.Tunnus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shippers.Yritysnimi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Puhelin_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Puhelin_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Puhelin_ID })
        </td>
    </tr>
}

</table>
